@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Common CSS */
body {
	margin: 0.5em;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #a9c9e8;
	background-color: #012e57;
	text-shadow: 0 0 3px #1b1b1b;
}
h1 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 2em;
	font-weight: bold;
}
h1 a {
	color: inherit;
}
h2 {
	margin-bottom: 0.5em;
	font-size: 1.8em;
	font-weight: bold;
}
h3 {
	margin: 1em;
	font-size: 1.2em;
	font-weight: bold;
}
a {
	color: #bbc; /* TODO: refine */
	text-decoration: none;
}
a:hover {
	color: #ddd; /* TODO: refine */
}
em {
	font-style: italic;
}
button {
	display: inline-block;
	margin-left: 0.125em;
	margin-right: 0.125em;
	border: none;
	border-radius: 2px;
	background-color: #ddd;
	box-shadow: 0 0 1px #1b1b1b;
}
button:disabled {
	color: #808080;
	border-color: #808080;
}
input, button {
	color: #000;
	font-weight: 400;
	font-style: normal;
	font-size: 13.3333px;
	font-family: 'Open Sans', sans-serif;
}
input {
	padding: 0.25em
}
::placeholder {
	color: #757575;
	opacity: 1;
}
