/* CSS for FAQ page */
body > * {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}
.answer {
	text-align: center;
	min-width: 60%;
	max-width: 80%;
}
#faq {
	margin-bottom: 5vh;
}
