/* CSS for main page */
header {
	margin-bottom: 1em;
}
#banner {
	width: 80vw;
	font-size: 1.5em;
	text-align: center;
	padding: 0.75em;
	background-color: #004584;
	box-shadow: 0 0 7px #1b1b1b;
	border-radius: 10px;
}
body > *, .navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
header, .navigation {
	flex-direction: column;
}
form {
	min-width: 90%;
	max-width: 95%;
	margin-bottom: 1vh;
}
.navigation {
	padding: 1em;
	min-width: 90%;
	max-width: 100%;
	background-color: #004584;
	box-shadow: 0 0 7px #1b1b1b;
	border-radius: 15px;
	/*background-color: red;*/ /* debug */
}
.toggle-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 0.5em;
	/*background-color: blue;*/ /* debug */
}
.toggle-wrapper button { /* TODO: make buttons even maybe */
	flex-grow: 0.2;
}
.search-wrapper {
	display: flex;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	border-radius: 3px;
	box-shadow: 0 0 4px #1b1b1b;
	/*background-color: green;*/ /* debug */
}
#search-input {
	flex-grow: 1;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #fff;
}
#search-button {
	flex-grow: 0.15;
	max-width: 10em;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #ddd;
}
#search-input, #search-button {
	border: none;
}
.page-buttons {
	display: flex;
	margin: 0.5em;
	/*background-color: #F0F;*/ /* debug */
}
#links {
	padding: 1em;
}
img {
	max-width: 100%;
	max-height: 100vh;
}
script {
	display: none;
}
