/* CSS for update page */
body > * {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}
.code {
	font: monospace;
	background-color: rgba(74, 138, 255, 0.5);
	border-radius: 0.25em;
}
p {
	max-width: 90%;
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 2.5vh;
}
#update {
	margin: 1vh 20vw 0 20vw;
	padding-top: 16px;
	background-color: #004584;
	border-radius: 20px;
}
